h2, h3, h4, h5, h6 p{
    font-family: 'Kanit', sans-serif;
    line-height: 2px;
    margin-top: 20px;
    color: white;
}



.special-person {
    position: absolute;
    left: 0;
    top: 400px; 
}


.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container3 {
    display: flex;
     flex-wrap: wrap;
}
.navItems{
   
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
    list-style: none;
    border-left: none;
    
}
.na{
    color: white;
}


.h1, h4 {
     margin: 1px;
     
}

.container {
    padding: 14px 16px; 
    flex-shrink: 0;
    box-sizing: border-box;
    background-color: #0043A7; /* Add this line to set the background color */

    
}


body::-webkit-scrollbar{
    display: none;
}
.frame{
    position: relative;
    background-color: #224599;
    border: 2px solid #ddd;
    padding: 10px;
    padding-bottom: 30px;
    padding-left: 1px;
    padding-top: 0px;
    padding-right: 1px;
    border-radius: 20px;
    overflow: hidden;
    color: white;
}
p{
    color: #FFFFFFBF;
    font-weight: bold;
}

.president-frame{
    position: relative;
    background-color: #224599;
    border: 2px solid #ddd;
    color: white;
    padding: 10px;
    padding-bottom: 30px;
    padding-left: 1px;
    padding-top: 0px;
    padding-right: 1px;
    border-radius: 20px;
    overflow: hidden;
}

.vice-president-frame{
    position: relative;
    background-color: #224599;
    border: 2px solid #ddd;
    color: white;
    padding: 10px;
    padding-bottom: 30px;
    padding-left: 1px;
    padding-top: 0px;
    padding-right: 1px;
    border-radius: 20px;
    overflow: hidden;
}
/*
.vice-president-frame2{
    position: relative;
    background-color: #224599;
    border: 2px solid #ddd;
    padding: 10px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    border-radius: 20px;
    overflow: hidden;
}*/
